.App {
  text-align: center;
  text-decoration: none;
  position: fixed;
}

ul{
	display: flex;
  width: 80%;
  margin: auto;
  display: block;
	justify-content: space-between;
	text-align: center;
}
li {
  padding: 1rem 2rem 1.15rem;
  display: block;
  text-transform: uppercase;
  cursor: pointer;
	margin: auto;
}

li:hover {
  background-size: 80% 80%;
  color: #c6c0e4;
  animation: spring 300ms ease-out;
	font-weight: bold;
}
li:active {
  transform: translateY(4px);
}
@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}
.shameless-plug{
  position: absolute;
  right: 0;
  color: #ccc;
  text-decoration: none;
}
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.navbar-side{
  overflow-y: hidden;
  overflow-x: auto;
  height: auto;
  width: 100%;
}
a{
  text-decoration: none !important;
}
.nav-side{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-top:55%;
  line-height: 40px;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  flex-direction: column!important;
}
.navitem-side{
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  will-change: background-color,box-shadow,color;
  -webkit-transition: box-shadow .2s ease,color .2s ease,background-color .2s ease;
  transition: box-shadow .2s ease,color .2s ease,background-color .2s ease;
  font-size: .85rem;
  border-bottom: 1px solid #e1e5eb;
  font-weight: bold;
  color: #f9f1e9;
  padding: .9375rem 1.5625rem;
  text-decoration: none !important;
}
.mainsidebar{
  top: 40px;
  position: fixed;
  height: 100vh;
  width: 20%;
  z-index: 1070;
  will-change: transform;
  transition: -webkit-transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
  box-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
}
.header{
  margin-left: 80%;
  text-align: center;
  position: fixed !important;
  z-index: 1070 !important;
  top: 30px;;
  will-change: transform;
  transition: transform .2s ease-in-out;
  background-color: #fff;
  border: none;
  border-radius: .625rem
 }
img{
  width: 30px !important;
}

.text-danger{
  border-color: white !important;
  background-color: white !important;
}
.side-title {
  position: relative;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 8%;
  left: 40%;
  bottom: 80%;
  line-height: 1.5;
  font-weight: 500;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  font-size: 1.4em !important;
}